{templateType App\Presentation\BaseTemplate}
{define brand-logo}
	<i class="fa-brands fa-medapps text-primary" aria-hidden="true"></i>
{/define}

{define brand}
	{$settings->get('website')}
{/define}
